body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* navbar */
.navbar.navbar-default.navbar-fixed-top,
footer {
    background-color: #2C3E50;
    font-weight: 700;
    padding: 16px 0;
    border: 0;
}

.navbar.navbar-default.navbar-fixed-top a,
.menu.text-uppercase,
footer {
    color: #FFF;
    font-weight: 700;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle {
    background-color: #1abc9c;
    border: 0;
}

.navbar-default .navbar-toggle:hover{
    background-color: #148f77;
    cursor: pointer;
}

.hamburger-menu, .menu.text-uppercase {
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: 12px;
    vertical-align: middle;
}

.navbar-right a {
    font-size: 16;
}
/* main */
main {
    width: 100%;
    padding-top: 60px;
}

.primary-colors {
    background-color: #1ABC9C;
    color: #FFF;
}

/* section start */
.avatar {
    padding-top: 100px;
    padding-bottom: 30px;
    width: 200px;
}

h1 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 700;
}

div.col-xs-12 p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.col-xs-12.text-center {
    padding-bottom: 100px;
}

.star::before {
    content: '';
    width: 100px;
    height: 3px;
    border-radius: 2px;
    display: inline-block;
    background-color: #2C3E50;
    vertical-align: middle;
    margin: 0 5px;
}

.primary-colors .star::before,
.primary-colors .star::after {
    background-color: #FFF;
}

.fa-star {
    vertical-align: middle;
}

.star::after {
    content: '';
    width: 100px;
    height: 3px;
    border-radius: 2px;
    display: inline-block;
    background-color: #2C3E50;
    vertical-align: middle;
    margin: 0 5px;
}

.star {
    padding: 30px;
    margin-bottom: 20px;
}

/* portfolio */


h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 100px;
}


.secondary-colors {
    color: #2c3e50;
}

.img-rounded.img-responsive.center-block {
    max-width: 312px;
    vertical-align: middle;
}

.img-container {
    position: relative;
    max-width: 312px;
    margin: auto;
}

.img-rounded.img-responsive.center-block {
    margin-bottom: 48px;
}

.big-plus {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    border-radius: 5px;
    background-color: rgba(26, 188, 156, 0.9);
}

.big-plus i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-container:hover .big-plus {
    opacity: 1;
    cursor: pointer;
}

.container.text-center,
.container.form {
    margin-bottom: 48px;
}


/* about */

.btn-default {
    border: 2px solid #FFF;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 8px;
}

.btn.btn-default:hover {
    cursor: pointer;
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.glyphicon.glyphicon-save {
    font-size: 20px;
}

.glyphicon.glyphicon-save span {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.form-group {
    height: 90px;
    border-bottom: 1px solid #e9ecef;
}

.form-control {
    border: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    font-size: 24px;
    font-family:'Lato', sans-serif;
    line-height: 1.5;
    color: rgba(33, 37, 41);
}

.form-group.message {
    height: 300px;
}

.btn.btn-default {
    background-color: #1abc9c;
    font-family:'Lato', sans-serif;
    line-height: 1.5;
    color: #FFF;
    font-size: 20px;
    padding: 20px 30px;
}

.btn.btn-default:hover {
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
}

/* footer */

footer .container {
    margin-top: 50px;
}

footer .btn.btn-social {
    color: #FFF;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0);
    border: 2px solid #FFF;
    border-radius: 50%;
    padding: 6px 12px;
}

footer .btn.btn-social:not(:last-of-type) {
    margin-right: 8px;
}

footer h3 {
    margin-bottom: 20px;
}
a.start {
    color: #159a80;
}

.copyright {
    background-color: #1A252F;
    color: #FFF;
}

.copyright .container {
    padding: 25px;
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 64px;
    }
}
