body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', sans-serif;
}

/* navbar */
.navbar.navbar-default.navbar-fixed-top {
    background-color: #2C3E50;
    font-weight: 700;
    padding: 16px 0;
    border: 0;
}

.navbar.navbar-default.navbar-fixed-top a,
.menu.text-uppercase {
    color: #FFF;
    font-weight: 700;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle {
    background-color: #1abc9c;
    border: 0;
}

.navbar-default .navbar-toggle:hover{
    background-color: #148f77;
    cursor: pointer;
}

.hamburger-menu, .menu.text-uppercase {
    display: inline-block;
    color: white;
    font-weight: 700;
    font-size: 12px;
    vertical-align: middle;
}

.navbar-right a {
    font-size: 16;
}
/* main */
main {
    width: 100%;
    padding-top: 60px;
}

.primary-colors {
    background-color: #1ABC9C;
    color: #FFF;
}

/* section start */
.avatar {
    padding-top: 100px;
    padding-bottom: 30px;
    width: 200px;
}

h1 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 700;
}

div.col-xs-12 p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.col-xs-12.text-center {
    padding-bottom: 100px;
}

.star::before {
    content: '';
    width: 100px;
    height: 3px;
    border-radius: 2px;
    display: inline-block;
    background-color: #2C3E50;
    vertical-align: middle;
    margin: 0 5px;
}

.primary-colors .star::before,
.primary-colors .star::after {
    background-color: #FFF;
}

.fa-star {
    vertical-align: middle;
}

.star::after {
    content: '';
    width: 100px;
    height: 3px;
    border-radius: 2px;
    display: inline-block;
    background-color: #2C3E50;
    vertical-align: middle;
    margin: 0 5px;
}

.star {
    margin-bottom: 20px;
}


@media screen and (min-width: 992px) {
    h1 {
        font-size: 64px;
    }
}
