.navbar {
    background-color: #2C3E50;
    font-weight: 700;
    padding: 20px 0;
}

.navbar.navbar-default.navbar-fixed-top a {
    color: #FFF;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-right a {
    font-size: 1em;
}
